ICMP_PROXY_LOG_LEVEL=INFO
ICMP_PROXY_PSK_FILE=/etc/icmp-proxy/psk.txt
ICMP_PROXY_CLIENT_ID=default-client
ICMP_PROXY_BIND_HOST=0.0.0.0
ICMP_PROXY_CLIENT_HOST=127.0.0.1
ICMP_PROXY_MAX_STREAMS=512
ICMP_PROXY_MAX_INFLIGHT_PER_STREAM=32
ICMP_PROXY_MTU_PAYLOAD=1200
ICMP_PROXY_RETX_TIMEOUT_MS=100
ICMP_PROXY_RETX_MAX_RETRIES=5
ICMP_PROXY_RETX_SCAN_INTERVAL_MS=20
